.banner {
  background-size: cover;
}

.banner__desc {
  margin-top: 30%;
  margin-bottom: 10%;
}

.banner__desc-1,
.banner__desc-2 {
  max-width: max-content;
  padding: 10px 25px;
}

.banner__desc-1 {
  background-color: #fff;
  font-size: 22px;
}

.banner__desc-2 {
  background-color: #000;
  color: #fff;
}
