footer {
  height: 90px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-top: 2px solid #e5e5e5;
}

.footer-nav__list > ::after {
  content: "|";
  margin: 0 5px 0 5px;
  color: #e5e5e5;
}

.footer-nav__list > :last-child::after {
  content: "";
}

.footer-copyright {
  color: #e5e5e5;
}

.community-icons > :nth-child(n) {
  margin-right: 10px;
}

.community-icons > :last-child {
  margin-right: 0px;
}

.community-icons__link {
  width: 32px;
  height: 32px;
  background-size: cover;
  filter: opacity(0.1);
}
