body {
  font-family: Arial;
  font-size: 14px;
  width: 1088px;
  margin: 0 auto;
}

.all {
  margin: 20px;
}

.main {
  flex: 5;
}

.aside {
  flex: 1;
  margin-right: 40px;
}

.img--w100 {
  width: 100%;
}

.text10px {
  font-size: 10px;
}

.color--text {
  color: #34aca7;
}

.italic {
  font-style: italic;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--col {
  display: flex;
  flex-direction: column;
}

.display--block {
  display: block;
}

.icon--alist {
  background: url(../img/icons/a-list-icon.svg) no-repeat;
}

.icon--about {
  background: url(../img/icons/about-icon.svg) no-repeat;
}

.icon--blog {
  background: url(../img/icons/blog-icon.svg) no-repeat;
}

.icon--camera {
  background: url(../img/icons/camera-icon.svg) no-repeat;
}

.icon--fb {
  background: url(../img/icons/fb-icon.svg) no-repeat;
}

.icon--food {
  background: url(../img/icons/food-icon.svg) no-repeat;
}

.icon--mail {
  background: url(../img/icons/mail-icon.svg) no-repeat;
}

.icon--rss {
  background: url(../img/icons/rss-icon.svg) no-repeat;
}

.icon--twitter {
  background: url(../img/icons/twitter-icon.svg) no-repeat;
}

.icon--vector {
  background: url(../img/icons/vector-color.svg) no-repeat;
}

.img--banner {
  background: url(../img/pictures/baner.png) no-repeat;
}
